header,main,footer,nav{
	padding:5px;
}
#main-nav ul{
	list-style-type:none;
	padding-left:0;
	border: 2px black;
	border : 1px solid white;
}
#main-nav a{
	background:#159A9C;
	color:white;
	display:block;
	width:100%;
	text-decoration:none;
	border-bottom : 1px solid white;
}
.tree{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
#main-nav a:hover{
	background:#007566;
}
Nav{
	background:#DEEFE7;
}
header{
	background:#DEEFE7;
	color:black;
}
H1{
	text-align:center
}
main{
	background:#159A9C;
}
footer{
	background:#DEEFE7;
	text-align:center;
	color:black;
}
body{
	color:white;
	text-align:center;
}
#information{
	text-align:left;
}
#hidden{
	display:none;
}
#hide{
	display:none;
}
.hidden{
	display:none;
}
@media(min-width: 720px){
#content{
	width:80%;
	margin:auto;
}
.contacts{
	text-align:left;
}
header,main,footer,nav{
	padding:5px;
}
#main-nav ul{
	list-style-type:none;
	text-align:center;
	border:none;
}
#main-nav a{
	text-decoration:none;
	background:#159A9C;
	display:inline;
}
#main-nav  li{
	display:inline;
}
#main-nav a:hover{
	background:#007566;
}
Nav{
	background:#DEEFE7;
}
header{
	background:#DEEFE7;
	color:black;
}
H1{
	text-align:center
}
main{
	background:#159A9C;
}
footer{
	background:#DEEFE7;
	color:black;
}
.tree{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

body{
	color:white;
	text-align:center;
}
#hidden{
	display:none;
}
#hide{
	display:none;
}
#hidden{
	display:none;
}
.hidden{
	display:none;
}
}